/* RESET BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2a2a;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

h1.Lineup {
  color: red;
}

/* HEADER */
.top-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.top-logos img {
  height: 60px;
}

/* NAVBAR */
.nav-table {
  width: 100%;
  background-color: red;
  border-collapse: collapse;
  margin-bottom: 20px; /* distanza verso il primo testo */
}

.nav-table td {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.nav-table a {
  color: white;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.nav-table td:hover {
  background-color: black;
  border-color: black;
}

/* SECTIONS */
.schedule-section {
  background-color: #2a2a2a;
  padding: 40px 20px;
  margin: 40px 0;
}

.schedule-section h2 {
  font-size: 24px;
  margin-bottom: 60px;
  color: #fff;
}

/* GRID */
.schedule-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.schedule-grid img {
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 0px;
}

/* LINEUP SECTION */
.lineup-section {
  margin-top: 0;       /* <-- qui: rimuoviamo margine superiore */
  margin-bottom: 60px;
  padding: 0 20px;
}

.lineup-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.lineup-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.lineup-grid img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 0px;
  object-fit: contain;
}

/* MEDIA QUERY per MOBILE */
@media (max-width: 768px) {
  .lineup-grid img {
    max-width: 90%;   /* Su mobile, l'immagine occuperà al massimo il 90% della larghezza */
    max-height: 60vh; /* L'immagine non supererà il 60% dell'altezza dello schermo */
  }
}

/* MEDIA QUERY per DESKTOP */
@media (min-width: 769px) {
  .lineup-grid img {
    max-width: 90%;   /* Immagine più grande su desktop (95% della larghezza) */
    max-height: 100vh; /* L'altezza dell'immagine non supererà l'100% della finestra */
  }
}

/* FOOTER */
.footer {
  background-color: #000;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px 10px;
  font-size: 14px;
  margin-top: 50px;
  border-top: 2px solid #333;
}

.footer-logo {
  flex: 0.5;
  text-align: center;
}

.footer-logo img {
  height: 50px;
}

.footer-section {
  flex: 1;
  padding: 0 10px;
  text-align: center;
}

.footer-section h3 {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-divider {
  width: 1px;
  background-color: white;
  opacity: 0.4;
  height: 50px;
  margin: 0 10px;
  align-self: center;
}
